* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  height: 2rem;
  background-color: yellowgreen;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-container {
  height: calc(100vh - 2rem);
  background: url('../images/bg-pattern-top.svg') -80% 190% no-repeat,
    url('../images/bg-pattern-bottom.svg') 150% -100% no-repeat;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 20rem;
    background-color: yellow;
    .card-header {
      height: 10rem;
      background: url('../images/bg-pattern-card.svg') no-repeat;
    }
  }
}
