* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  height: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-container {
  height: calc(100vh - 2rem);
  background-color: hsl(185, 75%, 39%);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .top-background {
    position: absolute;
    right: 50%;
    bottom: 30%;
  }
  .bottom-background {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .card {
    z-index: 100;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
  }
}
